/* footer{
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.285);
	height: auto;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
padding-top: 40px;
color: white;
} */


.footer1{
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;  
	background: rgba(0, 0, 0, 0.285);
	font-family: 'Montserrat', sans-serif;
padding-top: 40px;
color: white;

display: flex;
	align-items: center;
justify-content: center;
flex-direction: column;
text-align: center; 
}
.footer_content{
	/* position: relative;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.285);
	height: auto;
	width: 100vw;
	font-family: 'Montserrat', sans-serif;
padding-top: 40px;
color: white;
/* border:1px solid rgba(255, 255, 255, 0.748); */
	/* display: flex;
	align-items: center;
justify-content: center;
flex-direction: column;
text-align: center; */ 
}

.footer_content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;
}

.footer_content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}

.socials{
	list-style: none;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
}

.socials li{
	margin: 0 10px;
}

.socials a{
	text-decoration: none;
	color: white;
}

.socials a i{
	font-size: 1.1rem;
	transition: color .4s ease;
}

.socials a:hover i{
	color: rgb(67, 142, 233);
}

.footer_bottom{
	background: rgba(0, 0, 0, 0.285);
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer_bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer_bottom span{
	text-transform: uppercase;
	opacity: .4;
	font-weight: 200;
}